<ul class="features">
    <%= for feature <- @features do %>
    <li phx-click="show-desc" phx-value-key="<%= feature.key %>">
        <span class="key"><%= feature.key %></span>
        <span class="title"><%= feature.title %></span>
    </li>
    <% end %>
</ul>

<div class="feature_description">
    <%= @desc %>
</div>