$color-primary:     #fcfcfc;
$color-secondary:   #32475f;
$color-tertiary:    #919690;
$color-accent:      #7dca84;
$color-accent-weak: #95ce9d;

$color-black:       #000000;
$color-black-80:    #202020;
$color-black-60:    #404040;
$color-black-40:    #606060;
$color-black-20:    #808080;

$text-color: $color-secondary;
$text-color-inverted: $color-primary;

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: $text-color;
    background-color: $color-primary;
}

header {
    height: 96px;
    background-color: $color-secondary;
    color: $text-color-inverted;
    border-bottom: 4px solid $color-black-20;
}

header .logo {
    font-size: 2rem;
    font-weight: bold;
    padding-top:24px;
}

header .logo-sub {
    font-size: 0.75rem;
}

main {
    padding-top:20px;
}

main .content {
   min-height: 400px;
}

footer {
    height: 36px;
    line-height: 36px;
    font-size: 0.8rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $color-secondary;
    color: $text-color-inverted;
    text-align: center;
    border-top: 4px solid $color-black-20;
}

.container {
    width: 1024px;
    margin:0 auto;
}

@import 'alert.scss';